<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>GRADES</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true" class="bg-color">
  <ion-card class="ion-no-margin">
    <div class="filterdiv">
      <ion-label class="filter"><ion-icon name="filter"></ion-icon> Filter</ion-label>
    </div>
    <div class="gr-sec">
      <form [formGroup]="form">
        <div class="input-container">
          <ion-select
          label-placement="floating"
          fill="outline"
          label="Subjects"
          class="custom-select"
          formControlName="subjects"
          (ionChange)="filterSections()"
        >

            <ion-select-option value="">All subjects</ion-select-option> 
            <ion-select-option *ngFor="let subject of subjects" [value]="subject.subject_id">
              {{ subject.subjectname }}
            </ion-select-option>
          </ion-select>
        </div>
      </form>
    </div>

    <div class="subject-container">
      <ng-container *ngIf="sections.length > 0; else noSections">
        <div *ngFor="let section of sections" class="section-item" (click)="viewStudents(section.section_id)">
          <div class="section-content">
            <div class="section-header">
              <div class="section-label">{{ section.gradelevel }} - {{ section.sectionname }}</div>
              <p class="subject-name">{{ section.subjectName }}</p>
            </div>
            <ion-icon name="chevron-forward-outline" class="chevron-icon"></ion-icon>
          </div>
        </div>
      </ng-container>
      <ng-template #noSections>
        <div class="no-sections">
          No sections assigned for this subject
        </div>
      </ng-template>
    </div>
  </ion-card>
</ion-content>
