ion-content{
    --ion-background-color:#fff;
}
ion-toolbar{
    --ion-background-color: transparent;
    --opacity: 0;
}
.wrapContent{
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}