<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>GRADES</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-color">
  <ion-card class="ion-no-margin">
    <div class="filterdiv">
      <ion-label class="filter"><ion-icon name="filter"></ion-icon> Filter</ion-label>
    </div>
    <div class="gr-sec">
      <div class="input-container">
        <ion-select 
          label-placement="floating" 
          fill="outline" 
          label="Filter" 
          class="custom-select"
          name="gradelevel"
          [(ngModel)]="selectedQuarter" 
          (ionChange)="filterGrades()">
          <ion-select-option>First Quarter</ion-select-option>
          <ion-select-option>Second Quarter</ion-select-option>
          <ion-select-option>Third Quarter</ion-select-option>
          <ion-select-option>Fourth Quarter</ion-select-option>
        </ion-select>
      </div>
    </div>

    <div *ngIf="noGradesAvailable" class="no-grades-message">
      No grades available for the {{ selectedQuarter }}
    </div>

    <table class="grades-table" *ngIf="grades.length > 0">
      <thead>
        <tr>
          <th>Subjects</th>
          <th>Grades</th>
          <th>Remarks</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let grade of grades">  
          <td class="subjects">{{ grade.subject }}</td>
          <td>{{ grade.grade }}</td>
          <td>{{ grade.remark }}</td>
        </tr>
        <tr *ngIf="grades.length === 0 || noGradesAvailable">
          <td colspan="3">No grades available</td>
        </tr>
        <tr *ngIf="grades.length > 0">
          <td class="gwa">GWA</td>
          <td class="gwa1">{{ averageGrade }}</td>
          <td [ngClass]="{
            'text-success': averageGrade >= 75,
            'text-danger': averageGrade < 75
          }">
            {{ averageGrade >= 75 ? 'PASSED' : 'FAILED' }}
          </td>
        </tr>
      </tbody>
    </table>
  </ion-card>
</ion-content>
