<ion-header class="ion-no-border">
    <ion-toolbar>
        <!-- <ion-title>Login</ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card class="ion-no-margin">
        <div class="welcomebg">
            <ion-img src = "assets/icon/logo.png" class="logo"></ion-img>
        </div>
        
        <ion-card-header>
            <ion-card-title>WELCOME</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
            <div class="student-btns">
                <ion-button fill="outline" class="studloginbtn">Student Login</ion-button>
            </div>
            <div class="teacher-btns">
                <ion-button fill="outline" class="studloginbtn">Teacher Login</ion-button>
            </div>
        </ion-card-content>
        
    </ion-card>
</ion-content>
 