<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title>ABOUT TLGA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-color">
  <ion-card class="ion-no-margin">
    <!-- <ion-card-title>ABOUT TLGA</ion-card-title> -->
    
    <div class="about-div">
      <div class="vision-container">
        <div class="vision-title">
          <div class="icondiv">
            <div class="eyeicon">
              <ion-icon name="eye"></ion-icon>
            </div>
          </div>
          <h3>VISION</h3>
        </div>
        <hr>
        <div class="vision-text">
          A leading educational institution dedicated to share the truth of God’s Love; 
          providing each learner the best opportunity to grow as a total person, responsible to God and country. 
        </div>
      </div>

      <div class="mission-container">
        <div class="vision-title">
          <div class="icondiv">
            <div class="eyeicon">
              <ion-icon name="bookmark"></ion-icon>
            </div>
          </div>
          <h3>MISSION</h3>
        </div>
        <hr>
        <div class="vision-text">
          The arm of Lipa Evangelical Church which carries out its Christian Education Program to 
          share God’s blessing to children of school age in the spirit of the Great Commission.
        </div>
      </div>

      <div class="bibphi-container">
        <div class="vision-title">
          <div class="icondiv">
            <div class="eyeicon">
              <ion-icon name="book"></ion-icon>
            </div>
          </div>
          <h3>BIBLICAL PHILOSOPHY</h3>
        </div>
        <hr>
        <div class="vision-text">
          “Train up a child in a way he should go, and when he is old, he shall not depart from it.” 
          Proverbs 22:6
        </div>
      </div>
    </div>

    
  </ion-card>

  
</ion-content>
