<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ selectedSection?.gradelevel }} - {{ selectedSection?.sectionname }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <div class="listdiv">
      <h4>List of Students</h4>
    </div>

    <div *ngIf="students && students.length > 0; else noStudents">
      <div class="student-div" *ngFor="let student of students">
        <div class="student-flex" (click)="toggleAccordion(student)">
          <ion-label>
            <h2>{{ student.full_name }}</h2>
          </ion-label>
          <ion-icon [name]="student.showInput ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
        </div>
        <div class="input-field" *ngIf="student.showInput">
          <div *ngFor="let task of student.tasks; let i = index" class="task-container">
            <ion-label class="task-label">Task {{ i + 1 }}</ion-label>
            <ion-input placeholder="Task Name" [(ngModel)]="task.activity_name"></ion-input>
            <ion-input placeholder="Task Score" [(ngModel)]="task.score_value"></ion-input>
            <ion-select [(ngModel)]="task.status_value" label-placement="floating" fill="outline" label="Remarks" class="custom-select">
              <ion-select-option value="completed">Completed</ion-select-option>
              <ion-select-option value="missing">Missing</ion-select-option>
              <ion-select-option value="failed">Failed</ion-select-option>
            </ion-select>
            <ion-button (click)="removeTask(student, i)" class="remsubj" color="danger">
              <ion-icon class="remicon" name="close-circle-outline"></ion-icon>
              Remove
            </ion-button>
          </div>
          <ion-button color="primary" class="addsubj" (click)="addTask(student)">
            <ion-icon class="addsubjicon" name="add-circle-outline"></ion-icon>
            Add Another Task
          </ion-button>
          <ion-button class="addsubj" color="success" (click)="saveTasks(student)">
            Save
          </ion-button>
        </div>
      </div>
      
    </div>
  </ion-card>

  <ng-template #noStudents>
    <div class="no-students">
      No students available for this section.
    </div>
  </ng-template>
</ion-content>
