<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>Add Student</ion-title> -->
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-color">
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-title>ADD STUDENT</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>PERSONAL INFORMATION</ion-label>
      <div class="fmname">
        <div class="input-container">
          <ion-label>First Name</ion-label>
          <ion-input class="round-input" type="text" name="fname"></ion-input>
        </div>
        <div class="input-container">
          <ion-label>Middle Name</ion-label>
          <ion-input class="round-input" type="text" name="mname"></ion-input>
        </div>
      </div>
      <div>
        <ion-label>Last Name</ion-label>
        <ion-input class="round-input" type="text" name="lname"></ion-input>
      </div>
      <div>
        <ion-label>Address</ion-label>
        <ion-input class="round-input" type="text" name="address"></ion-input>
      </div>
      <div class="gend-bday">
        <div class="input-container">
          <ion-label>Gender</ion-label>
          <ion-select label-placement="floating" fill="outline" class="custom-select">
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="male">Male</ion-select-option>
          </ion-select>
        </div>
        <div class="input-container">
          
          <ion-label>Birthday</ion-label>  
          <ion-input id="open-modal" class="round-input-calendar" type="text" name="calendar" readonly>
            <ion-icon name="calendar" icon="calendar-outline" slot="start" ></ion-icon>
            <ion-label>{{ formattedString }}</ion-label>
          </ion-input>

          <ion-modal trigger="open-modal" mode="md">
            <ng-template>
              <ion-content>
                <ion-datetime [presentation]="date"
                  #date
                  [value]="dateValue" 
                  size="cover"
                  (ionChange)="dateChanged(date.value)"
                  showDefaultButtons="true"
                  (ionCancel)="showPicker = false;">
                </ion-datetime>
              </ion-content>
            </ng-template>
          </ion-modal>
        </div>
      </div>

      
      <div class="gr-sec">
        <div class="input-container">
          <ion-label>Grade Level</ion-label>
          <ion-select label-placement="floating" fill="outline" class="custom-select">
            <ion-select-option value="grade1">Grade 1</ion-select-option>
            <ion-select-option value="grade2">Grade 2</ion-select-option>
          </ion-select>
        </div>
        <div class="input-container">
          <ion-label>Section</ion-label>
          <ion-select label-placement="floating" fill="outline" class="custom-select">
            <ion-select-option value="section1">Section 1</ion-select-option>
            <ion-select-option value="section2">Section 2</ion-select-option>
          </ion-select>
        </div>
      </div>

      <ion-label>ACCOUNT DETAILS</ion-label>
      <div>
        <ion-label>Email</ion-label>
        <ion-input class="round-input" type="email" name="email"></ion-input>
        <ion-label>Password</ion-label>
        <ion-input class="round-input" type="password" name="password"></ion-input>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
