<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>ADD TEACHER</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-color">
  <ion-card class="ion-no-margin">
    
    <form [formGroup]="ValidationFormUser" (ngSubmit)="addTeacher(ValidationFormUser.value)">
      <ion-card-content>
        <div class="persoinfo">
          <ion-label class="personalinfo">PERSONAL INFORMATION</ion-label>
        </div>
        
        <div class="fmname">
          <div class="input-container">
            <ion-input class="round-input" (input)="capitalizeFirstLetter($event, 'fname')" type="text" name="fname" placeholder="First Name" formControlName="fname"></ion-input>
            
          </div>
          <div class="input-container">
            <ion-input class="round-input" (input)="capitalizeFirstLetter($event, 'mname')" type="text" placeholder="Middle Name" name="mname" formControlName="mname"></ion-input>
          </div>
        </div>
        <div class="errordiv">
          <ng-container *ngFor="let validation of validationMessages.fname">
            <div class="error_message" *ngIf="ValidationFormUser.get('fname')?.hasError(validation.type) && (ValidationFormUser.get('fname')?.dirty || ValidationFormUser.get('fname')?.touched)">
              {{validation.message}}
            </div>
          </ng-container>
        </div>
        
        <div class="lname">
          <ion-input class="round-input" (input)="capitalizeFirstLetter($event, 'lname')" type="text" name="lname" placeholder="Last Name" formControlName="lname"></ion-input>
          <ng-container *ngFor="let validation of validationMessages.lname">
            <div class="error_message" *ngIf="ValidationFormUser.get('lname')?.hasError(validation.type) && (ValidationFormUser.get('lname')?.dirty || ValidationFormUser.get('lname')?.touched)">
              {{validation.message}}
            </div>
          </ng-container>
        </div>
        
        <div class="address">
          <ion-input class="round-input" (input)="capitalizeFirstLetter($event, 'address')" type="text" name="address" placeholder="Address" formControlName="address"></ion-input>
          <ng-container *ngFor="let validation of validationMessages.address">
            <div class="error_message" *ngIf="ValidationFormUser.get('address')?.hasError(validation.type) && (ValidationFormUser.get('address')?.dirty || ValidationFormUser.get('address')?.touched)">
              {{validation.message}}
            </div>
          </ng-container>
        </div>
        <div class="address">
          <ion-input class="round-input" type="tel" name="phone" placeholder="Phone Number" formControlName="phone" inputmode="numeric" (input)="restrictNonNumeric($event)"></ion-input>
          <ng-container *ngFor="let validation of validationMessages.phone">
            <div class="error_message" *ngIf="ValidationFormUser.get('phone')?.hasError(validation.type) && (ValidationFormUser.get('phone')?.dirty || ValidationFormUser.get('phone')?.touched)">
              {{validation.message}}
            </div>
            <!-- <div class="error_message" *ngIf="phoneError">
              Incorrect number. Please enter a 11-digit phone number.
            </div> -->
          </ng-container>
        </div>
        <div class="gend-bday">
          <div class="input-container">
            <ion-select label-placement="floating" fill="outline" label="Gender" class="custom-select" name="gender" formControlName="gender">
              <ion-select-option value="female">Female</ion-select-option>
              <ion-select-option value="male">Male</ion-select-option>
            </ion-select>
            <ng-container *ngFor="let validation of validationMessages.gender">
              <div class="error_message" *ngIf="ValidationFormUser.get('gender')?.hasError(validation.type) && (ValidationFormUser.get('gender')?.dirty || ValidationFormUser.get('gender')?.touched)">
                {{validation.message}}
              </div>
            </ng-container>
          </div>
          <div class="input-container">
            <ion-input id="open-modal" class="round-input-calendar" type="text" name="birthdate" formControlName="birthdate" readonly>
              <ion-icon name="calendar" icon="calendar-outline" slot="start" ></ion-icon>
              <ion-label >{{ formattedString }}</ion-label>
            </ion-input>

            <ion-modal trigger="open-modal" mode="md">
              <ng-template>
                <ion-content>
                  <ion-datetime [presentation]="date"
                    #date
                    [value]="dateValue" 
                    size="cover"
                    (ionChange)="dateChanged(date.value)"
                    showDefaultButtons="true"
                    (ionCancel)="showPicker = false;">
                  </ion-datetime>
                </ion-content>
              </ng-template>
            </ion-modal>
            
          </div>
        </div>

        <div class="assigninfo">
          <ion-label class="personalinfo">ADVISING SECTION</ion-label>
        </div>
        <div class="gr-sec">
          <div class="input-container">
            
            <ion-select label-placement="floating" 
              fill="outline" 
              label="Grade Level" 
              class="custom-select" 
              name="gradelevel" 
              formControlName="gradelevel"
              (ionChange)="getSections(ValidationFormUser?.get('gradelevel')?.value)">
              <ion-select-option *ngFor="let gradeLevel of gradeLevels" [value]="gradeLevel">{{ gradeLevel }}</ion-select-option>
            </ion-select>
            <ng-container *ngFor="let validation of validationMessages.gradelevel">
              <div
                class="error_message"
                *ngIf="
                  ValidationFormUser.get('gradelevel')?.hasError(validation.type) &&
                  (ValidationFormUser.get('gradelevel')?.dirty || ValidationFormUser.get('gradelevel')?.touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
            
          </div>
          <div class="input-container-section">
            
            <ion-select label-placement="floating" 
              fill="outline" 
              label="Section" 
              class="custom-select" 
              name="section" 
              formControlName="section">
              <ion-select-option *ngFor="let section of sections" [value]="section">{{section}}</ion-select-option>
            </ion-select>
            <ng-container *ngFor="let validation of validationMessages.section">
              <div
                class="error_message"
                *ngIf="
                  ValidationFormUser.get('section')?.hasError(validation.type) &&
                  (ValidationFormUser.get('section')?.dirty || ValidationFormUser.get('section')?.touched)
                "
              >
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

        </div>

        <div class="assigninfo">
          <ion-label class="personalinfo">ASSIGNED SUBJECTS</ion-label>
        </div>
        <div class="addsubjdiv">
          <ion-button class="addsubj" (click)="addSubject()"><ion-icon class="addsubjicon" name="add-circle-outline"></ion-icon>Add subject</ion-button>
        </div>
        <div formArrayName="assignments">
          <div *ngFor="let assignment of assignments.controls; let i = index" [formGroupName]="i">
            <div class="input-container-section">
              <ion-select label-placement="floating" fill="outline" label="Grade & Section" class="custom-select" formControlName="gradelevel">
                <ion-select-option *ngFor="let gradeLevelss of gradeLevelss" [value]="gradeLevelss">
                  {{ gradeLevelss }}
                </ion-select-option>
              </ion-select>
            </div>
            <div class="input-container-section">
              <ion-select multiple="true" 
                label-placement="floating" 
                fill="outline" 
                label="Subjects" 
                class="custom-select" 
                formControlName="subjects">
                <ion-select-option *ngFor="let subject of subjects" [value]="subject">
                  {{ subject }}
                </ion-select-option>
              </ion-select>
            </div>
            <ion-button class="remsubj" color="danger" (click)="removeAssignment(i)"><ion-icon  class="remicon" name="close-circle-outline"></ion-icon>
              Remove</ion-button>

          </div>
          

        </div> 


        <div class="accdeets">
          <ion-label>ACCOUNT DETAILS</ion-label>
        </div>
        
        <div class="email">
          <ion-input class="round-input" type="email" name="email" placeholder="Email" formControlName="email"></ion-input>
          <ng-container *ngFor="let validation of validationMessages.email">
            <div class="error_message" *ngIf="ValidationFormUser.get('email')?.hasError(validation.type) && (ValidationFormUser.get('email')?.dirty || ValidationFormUser.get('email')?.touched)">
              {{validation.message}}
            </div>
          </ng-container>
          <div class="error_message" *ngIf="emailExistsError">
            Email already exists.
          </div>
        </div>
        <div class="pw">
          <ion-input class="round-input" type="password" name="password" placeholder="Password" formControlName="password"></ion-input>
          <ng-container *ngFor="let validation of validationMessages.password">
            <div class="error_message" *ngIf="ValidationFormUser.get('password')?.hasError(validation.type) && (ValidationFormUser.get('password')?.dirty || ValidationFormUser.get('password')?.touched)">
              {{validation.message}}
            </div>
          </ng-container>
        </div>

        <div class="addstuddiv">
          <ion-button class="addstudbutton" type="submit" [disabled]="!ValidationFormUser.valid">Add Teacher</ion-button>
        </div>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
